.video > video {
  position: absolute;
  width: 44%;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  display: flex;
  align-items: center;
}
.video > img {
  position: absolute;
  width: 85%;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.camVideo > video {
  position: absolute;
  width: 30%;
  top: 50%;
  left: 26%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
